@use "../custom" as *;

.btn-header {
  @include button-variant(
    $primary,
    transparent,
    $secondary,
    darken($primary, 10%),
    transparent,
    darken($secondary, 10%)
  );
  @include button-size(1rem, 5rem, 2rem, 0);

  font-weight: 700;
  display: block;
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.boton-plan {
  @extend .btn-header;
  border: 1px solid $white;
  text-align: center;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
