@use "utilities/mixins" as m;
@use "../custom" as *;

.testimoniales {
  h2 {
    @include m.headingBorder($secondary, $primary);
  }
}

.testimonial {
  border: 0.5rem solid $secondary;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 2rem 2rem 2rem 8rem;
  position: relative;

  &::before {
    content: "";
    width: 5rem;
    height: 5rem;
    display: block;
    background-size: 5rem;
    background-image: url(../img/comilla.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 1.5rem;
  }
}
