@use "base/variables" as v;
@use "base/mixins" as m;

.pasos {
  margin-top: 5rem;

  &__wave {
  }

  &__heading {
    text-align: center;
    color: v.$blanco;
    &--span {
      font-size: 1.8rem;
      display: block;
      margin-top: 1rem;
    }
  }
  &__contenido {
    background-color: v.$primario;
    margin-top: -0.1rem;
  }
  &__grid {
    @include m.tablet {
      @include m.grid(3, 5rem);
    }
  }

  &__imagen {
    transition: transform 0.3s ease-out;
    &:hover {
      transform: rotate(-4deg) scale(1.2);
    }
  }
}
