@use "base/mixins" as m;
@use "base/variables" as v;

.crea {
  background-color: v.$blanco;
  margin: 10rem 0;

  &__grid {
    @include m.tablet {
      @include m.grid(2, 3rem);
      align-items: center;
    }
  }

  &__heading {
    @include m.headingBorder(v.$secundario, v.$primario);
  }

  &__texto {
    margin-top: 0;
  }
}
