//Fuentes
$main_font: "Raleway", sans-serif;
$cursivaFont: "Bona Nova", serif;
$secondFont: "Roboto", sans-serif;

//MQ

$smartphones: 480px;
$tablets: 768px;
$desktop: 1024px;

//Colores

$primario: #5e311e;
$secundario: #c39c63;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;
//Unidades
$gap: 5rem;
