@use "base/variables" as v;
.text-center {
  text-align: center;
}
.bg-primario {
  background-color: v.$primario;
}

.mn-5 {
  margin-top: -5rem;
}

.bg-white {
  background-color: v.$blanco;
}

.padding-bottom-0 {
  padding-bottom: 0;
}
