@use "base/variables" as v;
@use "base/mixins" as m;
.iconos {
  margin-top: 5rem;

  .lista-iconos {
    @include m.tablet {
      @include m.grid(3, 5rem);
    }
    li {
      img {
        margin: 0 auto;
        width: 12rem;
      }

      p {
        font-family: v.$cursivaFont;
        font-size: 3rem;
        color: v.$primario;
      }
    }
  }
}
