@use "base/variables" as v;
@use "base/mixins" as m;

.testimoniales-container {
  padding: 8rem 2rem;

  @include m.tablet {
    padding: 4rem 2rem;
  }
}

.testimonial {
  background-color: v.$cafeClaro;
  padding: 2rem 4rem;
  width: 65%;
  margin: 0 auto;

  border-radius: 1rem;

  @include m.tablet {
    width: 50%;
  }

  .auth {
    text-align: right;
    font-size: 2.4rem;
    color: v.$primario;
    font-family: v.$cursivaFont;
  }
}
