@use "base/mixins" as m;
@use "base/variables" as v;
@use "sass:math";

.nav-home {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  text-align: center;

  @include m.tablet {
    flex-direction: row;
    gap: 1rem;
    text-align: center;
  }

  a {
    color: v.$blanco;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
