@use "base/mixins" as m;
@use "base/variables" as v;

.cita {
  background-image: url(../img/bg_citas.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 10rem 0;
  background-size: cover;
<<<<<<< HEAD
  align-items: center;
  background-attachment: fixed;
  text-align: center; //centramos boton
=======
  text-align: center;
>>>>>>> b73d5cd38db701d958f950bf747a6eae9a6740ad

  &__container {
    width: 50%;
    color: v.$blanco;
    align-items: center;
  }

  &__heading {
    @include m.headingblue;
    text-transform: uppercase;
    color: v.$blanco;
  }
  &__texto {
    line-height: 1.9;
    max-width: 60rem;
    margin: 0 auto;
  }

  &__link {
    @include m.boton(v.$primario, v.$blanco);

<<<<<<< HEAD
    padding: 2rem;

    @include m.tablet {
      width: 50%;
    }
=======
    margin-top: 5rem;
    padding: 2rem 10rem;
>>>>>>> b73d5cd38db701d958f950bf747a6eae9a6740ad
  }
}
