@use "base/mixins" as m;
@use "base/variables" as v;

.slider {
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  &__container {
  }
  &__slide {
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    transition-property: transform;
  }

  &__imagen {
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: v.$blanco;
  }
  .swiper-pagination-bullet {
    background-color: v.$blanco;
  }
  .swiper-pagination-bullet-active {
    background-color: v.$primario;
  }
}
